{% extends "layout.html.twig" %}

	{% block contenu %}

        <div class="row">
            <div class="small-7 large-7 columns">
                <table class="table table-responsive table-bordered table-striped">
                    <caption>Vos commandes</caption>
                    <thead>
                    <tr><th>id commande</th><th>prix total</th><th>date de l'achat</th><th>Etat</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in data if data is not empty %}
                        <tr>
                            <td>{{commande.id}}</td><td>{{commande.prix}}</td><td>{{ commande.date_achat }}</td><td>{{ commande.libelle }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}